* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 2.5vw;
    position: absolute;
}

header > picture > img{
    width: 100%;
}

#tabs li {
    padding-top:-1px;
    padding-bottom:5px;
    margin-bottom: 30px;
}

#tabs img {
    border-radius: 2.5vw;
    width: 105%;
    position: absolute;
    top: -2vw;
    left: -0.5vw;
    max-width: 105%;
}

ul {
    list-style-type: none;
    padding: 20px;
}

section > h3 {
    margin-left: 1vw;
    margin-right:1vw;
    text-align: center;
    margin-top: 0px;
}

li > a > h3{
    text-align: center;
    padding-top: 250px;
    padding-left: 4.5vw;
}

li > a > p{
    text-align: center;
    padding-top: 10px;
    padding-left: 3.2vw;
    width: 150px;
}

#site-nav {
    border-radius: 2.5vw;
    background-color: rgb(85, 85, 85);
}


ul > li {
    background-color: white;
    display:inline-block;
    height: 400px;
    width: 240px;
    margin-left:8px;
    margin-right: 8px;
    
}

/* Adventure page styles */
#tagline {
    background-color:red;
}

#nav > #nav-list > ul {
    z-index: -1;
}

#nav > #nav-list > ul > li {
    background-color: #fc7b25;
    display: inline-block;
    width: 17vw;
    border-radius: 0px 0px 15px 15px;
    height: 50px;
    margin: -4vw 0 0 0;
    position: relative;
}

#nav > #nav-list > ul > li > a > h3 {
    font-size: 2vw;
    margin-top: 25px;
    margin-left: 5px;
}

footer {
    margin-top: 50px;
}
